@charset "UTF-8";

/*
  Regra: Monocromático.
  #83E1AD
  #3DDC84
  #2FA866
  #1A5C37
  #355C47
*/

:root {
  --cor-01: #83E1AD;
  --cor-02: #3DDC84;
  --cor-03: #2FA866;
  --cor-04: #1A5C37;
  --cor-05: #355C47;
  --cor-texto-p: #000000c0;
  --cor-header-p: rgba(255, 255, 255, 0.904);
  --cor-geral: white;
  --cor-shadow: rgba(0, 0, 0, 0.47);

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: "BebasNeue-Regular", Tahoma, Verdana, Geneva, sans-serif;
  --font-android: "idroid", Tahoma, Verdana, Geneva, sans-serif;
}

@font-face {
  font-family: "idroid" ;
  src: url(".//fontes/idroid.otf") format("opentype");
} 
@font-face {
  font-family: "BebasNeue-Regular" ;
  src: url(".//fontes/BebasNeue-Regular.otf") format("opentype");
} 

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #37cd7b;
  font-family: var(--fonte-padrao);
}

a {
  text-decoration: none;   color: inherit;
}

header {
  padding: 15px;
  background: linear-gradient(to bottom, var(--cor-02), var(--cor-05));
  box-shadow: 0px 0px 10px 1px var(--cor-shadow);
}

.content-titulo {
  text-align: center;
}
#main-titulo, #sub-titulo {
  padding: 20px 0px;
  text-shadow: 0px 0px 10px var(--cor-shadow);
}
#main-titulo {
  color: var(--cor-geral);
  font-family: var(--fonte-destaque);
  font-size: 3.2em;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
}
#sub-titulo {
  margin: auto;
  max-width: 600px;
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  font-weight: bold;
  color: var(--cor-header-p);
}

nav {
  padding-top: 40px;
  padding-bottom: 10px;
}
nav > a {
  padding: 15px;
  text-shadow: 2px 2px 4px 1px var(--cor-shadow);
  color: var(--cor-geral);
  font-weight: bold;
  transition-duration: 0.5s;
}
nav > a:hover {
  background-color: var(--cor-03);
  border-bottom: 4px dotted var(--cor-geral);
  box-shadow: 0px 0px 10px 1px var(--cor-shadow);
}

main {
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
  background-color: var(--cor-geral);
  box-shadow: 0px 0px 10px 1px var(--cor-shadow);
  margin-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

section {
  padding: 20px 0px;
}

.destaque, .destaque-intenso, .destaque-invertido {
  padding: 0px 20px;
  color: var(--cor-04);
}
.destaque-intenso::after, .destaque-invertido::after {
  content: '\00A0\1F517';
}
.destaque {
  background: linear-gradient(to right, var(--cor-01), transparent);
}
.destaque-intenso {
  background: linear-gradient(to right, var(--cor-01) 80%, transparent);
}
.destaque-invertido {
  background: linear-gradient(to left, var(--cor-01), var(--cor-geral) 18%);
}

.assunto-titulo, .assunto-sub-titulo {
  font-family: var(--font-android);
  font-weight: normal;
  color: var(--cor-04);
}
.assunto-titulo {
  font-size: 2.2em;
}
.assunto-sub-titulo {
  font-size: 1.5em;
}

main p {
  padding: 16px 10px;
  text-align: justify;
  text-indent: 50px;
  line-height: 2.1em;
  font-size: 1.12em;
  font-weight: bold;
  color: var(--cor-texto-p);
}

main strong {
  font-weight: bolder;
  color: var(--cor-04);
}

main picture img {
  width: 100%;
}

main img.pequena {
  max-width: 400px;
  margin: auto;
  display: block;
}

.video-android {
  background-color: var(--cor-04);
  padding-bottom: 60%;
  position: relative;
}

.video-android iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.extra{
  border-radius: 20px;
  background-color: var(--cor-01);
  box-shadow: 0px 0px 10px var(--cor-shadow);
}
.extra-top h2 {
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--cor-03);
  font-size: 1.2em;
  font-weight: bold;
  color: var(--cor-geral);
}
.extra-conteudo {
  padding: 10px;
}
.extra-conteudo ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

footer {
  padding: 20px;
  background-color: var(--cor-04);
  color: var(--cor-01);
  text-align: center;
}
footer > a {
  color: var(--cor-geral);
}

@media only screen and (max-width: 800px) {
  header nav {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header, main {
    width: auto;
  }
}
