:root {
  --cor-primeira: #32b66d;
  --cor-segunda: #1a5c38;
  --cor-terceira: #c5ebd6;
  --cor-footer: #eff4f191;
  --cor-texto: #0000009c;
}

@font-face {
  font-family: "idroid" ;
  src: url(".//fontes/idroid.otf") format("opentype");
} 
@font-face {
  font-family: "BebasNeue-Regular" ;
  src: url(".//fontes/BebasNeue-Regular.otf") format("opentype");
} 

body {
  margin: 0;
  background-color: #37cd7b;
}

a {
  text-decoration: none;   color: inherit;
}

header {
  height: 300px;
  padding: 10px;
  background: linear-gradient(to bottom, var(--cor-primeira) 27%, var(--cor-segunda));
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.479);
}

.content-titulo {
  padding-top: 25px;
  text-align: center;
}

#main-titulo {
  color: white;
  font-family: "BebasNeue-Regular", Tahoma, Verdana, Geneva, sans-serif;
  font-size: 3.2em;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
}

#sub-titulo {
  padding-top: 15px;
  color: var(--cor-footer);
}

#sub-titulo, nav > a {
  font-family: Tahoma, Verdana, Geneva, sans-serif;  
}

nav {
  padding-top: 30px;
}

nav > a {
  margin: 0px 10px;
  padding: 10px 15px;
  text-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.37);
  color: white;
  font-weight: bold;
}

nav > a:hover {
  border-bottom: 3px solid white;
}

main {
  margin: auto;
  width: 930px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.479);
  margin-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

section {
  padding: 20px;
}

.destaque, .destaque-intenso, .destaque-invertido {
  padding: 0px 20px;
  color: var(--cor-segunda);
}
.destaque {
  background: linear-gradient(to right, var(--cor-terceira) 20%, white);
}
.destaque-intenso {
  background: linear-gradient(to right, var(--cor-terceira) 80%, white);
}
.destaque-invertido {
  background: linear-gradient(to left, var(--cor-terceira), white 18%);
}

.assunto-titulo, .assunto-sub-titulo {
  font-family: idroid, Tahoma, Verdana, Geneva, sans-serif;
  color: var(--cor-segunda);
}

.assunto-titulo {
  font-size: 2.2em;
}

.assunto-sub-titulo {
  font-size: 1.5em;
}

p {
  font: normal bold 1.12em sans-serif, Tahoma, Verdana;
  text-align: justify;
  text-indent: 50px;
  color: var(--cor-texto);
}

strong {
  font-weight: bolder;
  color: var(--cor-segunda);
}

picture, .video-android {
  display: flex; justify-content: center; align-items: center;
}

.video-android  {
  background-color: var(--cor-segunda);
}

.extra{
  border-radius: 20px;
  background-color: var(--cor-terceira);
}
.extra-top h3 {
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--cor-primeira);
  font: normal bold 1.2em sans-serif, Tahoma, Verdana;
  color: white;
}
.extra-conteudo {
  padding: 10px;
}

.extra-conteudo div {
  display: flex;
  flex-wrap: wrap;
}

.extra-conteudo div ul {
  padding: 0;
  list-style: none;
}

.item {
  font: normal 600 1em  sans-serif, Tahoma, Verdana;
  color: var(--cor-texto);
}
.item::before {
  content: '';
  left: 0; top: 0;
  margin-right: 3px;
  padding: 5px 15px;
  background-image:  url('./imagens/check-ul-li.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ul-rtl {
  margin-right: 200px;
}

footer {
  padding: 10px;
  background-color: var(--cor-segunda);
  color: var(--cor-terceira);
  text-align: center;
}

footer > a {
  color: white;
}

@media only screen and (max-width: 800px) {
  header {
    height: auto;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header, main {
    width: auto;
  }
  .ul-rtl {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 500px) {
  picture img {
    width: 300px;
    height: 300px;
  }
}