* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  background-image: linear-gradient(to right, #CBF3F0, #2EC4B6);
  padding: 15px;
}

main {
  margin: auto;
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #FFFFFF 95%, #FFBF69);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.788);
}

h1 {
  color:  #FF9F1C;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 160, 28, 0.617);
}

h2 {
  color:rgba(255, 160, 28, 0.9);
  text-shadow: 1px 1px 2px rgba(255, 160, 28, 0.417);
}

p {
  color: #2EC4B6;
  text-align: justify;
}
