/* 
  Sobre o box-shadow "1px 1px 1px black", significam respetivamente: deslocamento horizontal, deslocamento vertical, espalhamento e sombra.
*/

<<<<<<< HEAD
=======
/* Seletores que repete atribuições */
>>>>>>> fda7cdfa3a436e80f64833253311ad9485600758
body, footer, footer > p {
  margin: 0;
}

<<<<<<< HEAD
=======
header, main {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

header, nav {
  display: flex;
}

/* Seletores  */
>>>>>>> fda7cdfa3a436e80f64833253311ad9485600758
body {
  background-color: dimgray;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

<<<<<<< HEAD
header, main {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

header > h1 {
  box-shadow: inset 6px 2px 7px 1px rgb(0 0 0 / 35%);
}

nav {
  padding: 10px;
  background-color: rgb(28, 151, 145);
  box-shadow: 2px 4px 7px 1px rgb(0 0 0 / 47%);
}

nav > a {
  padding: 0px 10px;
=======
header {
  justify-content: space-between;
}

header > h1 {
  font: normal bold 2.4em Georgia, 'Times New Roman', Times, serif;
  text-shadow: 7px 7px 7px rgba(77, 253, 241, 0.77);
}

nav {
  align-items: center;
}

nav > a {
  margin: 0px 10px;
  padding: 10px 30px;
  background-color: rgb(28, 151, 145);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.37);
>>>>>>> fda7cdfa3a436e80f64833253311ad9485600758
  color: white;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
<<<<<<< HEAD
=======
  border-bottom: 3px solid white;
}

main {
  border-radius: 20px;
>>>>>>> fda7cdfa3a436e80f64833253311ad9485600758
}

section#principal {
  margin: 15px 0px;
}

article {
  padding: 5px;
  background-color: lightseagreen;
}

article > aside {
  background-color: rgb(20, 105, 101);
}

footer {
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
