main {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

main section, .espaco  {
  margin-top: 30px;
}

/* Efeito borrado: normal */
.my-bg-1 {
  width: 500px;
  height: 333px;
  background-image: url('./man-standing-beside-red-coupe.jpg');

  filter: blur(10px);
  transition:filter .5s ease;
  backface-visibility: hidden;
}

/* Efeito borrado: localizado em uma posição na foto */
.my-bg-2 {
  position: relative;
  margin-left:0;
  width: 500px;
  height: 333px;

  background-image: url('./man-standing-beside-red-coupe.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  
  filter: blur(10px);
  transition:filter .5s ease;
  backface-visibility: hidden;
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  .my-bg-1, .my-bg-2{
    width: 310px;
  }
}
